@media (max-width: 2660px) and (min-width: 1400px) {

    article {
        width: 60vw;
        margin: auto;
        height: auto;
    }

}

@media (max-width: 1400px) and (min-width: 1000px) {
    article {
        width: 80vw;
    }

}
@media (max-width: 580px){
    div.blackbox-flex .article{
        min-width: 300px;
    }
}
@media (max-width: 720px) {
    header {
        margin-bottom: 50px;
    }

    article {
        width: 90vw;
        margin: auto;
        height: auto;
    }

    div.footer .logo-icon {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    div.footer .icon {
        gap: 20px;
    }

    nav {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px 10px;

    }

    div#grid {
        justify-items: center;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8"
            "item9";
        gap: 50px;
        padding: 20px 0px;
        /* width: auto; */
        align-items: center;
        /* padding: 50px 0px; */
    }

    /* div.container2{
        justify-content: center;
    } */
    div.container2 .text {
        flex-direction: column;
        gap: 0px;

    }

    div.container2 .text p.small {
        padding-top: 0px;
    }

    div.whitecontainer {
        grid-template-areas:
            "cont1"
            "cont2"
            "cont3"
            "cont4";
        gap: 20px;
        margin: 0px 30px;
    }

    div.blackbox-flex .whitebox {
        /* height: 200px;
        width: 50px; */
        padding: 20px;
        margin: 30px;

    }

    .blackbox-flex {
        flex-direction: column;
        /* gap: 30px; */
        /* align-items: center;
        justify-content: center; */

    }

    div.blackbox-down {
        margin: 0px -80px;
        padding-top: 0px;
        /* justify-content: start; */
    }

    div.logo {
        height: 100px;
        width: 200px;
    }

    div.container1 p.big {
        font-size: 25px;
        padding-top: 30px;
    }

    div.container1 p.small {
        font-size: 20px;
        line-height: 30px;
        padding: 15px;
    }

    header nav ul li p {
        font-size: 14px;
        /* line-height: 1px; */
    }

    /* div.whitecontainer .subcribebox{
    width: 100%;
} */


    header nav ul {
        gap: 15px;
        flex-wrap: wrap;
    }



    /* div.logo {
        height: 100px;
        width: 200px;
    } */

    /* header {
        padding: 0;
    } */

    /* div.container1 p.big{
        font-size: 40px;
    } */

    /* div.blackbox .whitebox{
        margin: 10px auto;
        
    } */

}

@media (max-width: 500px){
    div.blackbox-flex{
        width: 100%;
        /* position: absolute; */
        padding: 0px -80px;
    }
}


@media (max-width: 1000px) and (min-width: 720px) {
    article {
        width: 90vw;
        margin: auto;
        height: auto;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        gap: 10px;
        margin: 10px 20px 50px 10px;
        /* padding: 30px; */
    }

    div#grid {
        justify-items: center;
        /* center items horizontally */
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item6"
            "item7 item8"
            "item9 item9";
        gap: 10px 100px;
        padding: 50px 0px;
    }

    div.logo {
        height: auto;
        width: auto;
    }

    header {
        padding: 0;
    }

    div.container1 p.big {
        font-size: 40px;
    }

    .blackbox-flex {
        flex-direction: column;
        gap: 100px;

    }

    div.blackbox .whitebox {
        margin: 10px auto;

    }

    div.whitecontainer {
        grid-template-areas:
            "cont1 cont2"
            "cont3 cont4";
        /* align-items: center; */
        /* justify-items: center; */
        gap: 10px 100px;
        /* margin: 2px 100px; */
    }

}


